<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
  <a class="navbar-brand" [routerLink]="['']">Commvault Test</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['tweet-stream']">Twitter Stream</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['word-cloud']">Twitter Word Cloud</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>